<% if session[:message_board_id] %>
    <div class="grid">
        <div class="title">
            <h1><%= Current.message_board.name %></h1>
            <%=link_to "Check for new messages", message_boards_path, class="btn btn-outline-dark"%>
        </div>
        <div class="messages">
            <% if Current.messages %>
                <% Current.messages.each do |message| %>
                    <div>
                        <%= message.username %>:
                        <%= message.data %>
                    </div>
                    <br/>
                <% end %>
            <% end %>
        </div>
        <br/><br/>
        <div class="sendButton">
            <%= form_with model: @message_temp, url: send_message_path do |form| %>
                <div class="mb-3">
                    <%= form.text_field :data, class: "form-control", placeholder: "Message" %>
                </div>
                <div class="mb-3">
                    <%= form.submit "Send", class: "btn btn-primary" %>
                </div>
            <% end %>
            <%= button_to "Leave", leave_message_boards_path, method: :delete %>
        </div>
    </div>
<% else %>
    <h1>Create message board</h1>
    <%= form_with model: @chat_room, url: create_message_boards_path do |form| %>
        <% if @chat_room.errors.any? %>
            <div class="alert alert-danger">
                <% @chat_room.errors.full_messages.each do |message| %>
                    <div><%= message %></div>
                <% end %>
            </div>
        <% end %>
        
        <div class="mb-3">
            <%= form.label :name %>
            <%= form.text_field :name, class: "form-control", placeholder: "Name" %>
        </div>
        <div class="mb-3">
            <%= form.label :password %>
            <%= form.password_field :password, class: "form-control", placeholder: "password" %>
        </div>
        <div class="mb-3">
            <%= form.label :password_confirmation %>
            <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
        </div>
        <div class="mb-3">
            <%= form.submit "Create", class: "btn btn-primary" %>
        </div>
    <% end %>

    <br/><br/><br/><br/>

    <h1>Join message board</h1>
    <%= form_with model: @chat_room, url: join_message_boards_path do |form| %>
        <div class="mb-3">
            <%= form.label :name %>
            <%= form.text_field :name, class: "form-control", placeholder: "name" %>
        </div>
        <div class="mb-3">
            <%= form.label :password %>
            <%= form.password_field :password, class: "form-control", placeholder: "password" %>
        </div>
        <div class="mb-3">
            <%= form.submit "Join", class: "btn btn-primary" %>
        </div>
    <% end %>
<% end %>